
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 279px; /* Margin bottom by footer height */
}

.navbar-laravel {
  background-color: #f5f8fa;
  // box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 279px; /* Set the fixed height of the footer here */
}
