
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.container {
  max-width: 960px;
}

.decide-border {
  @include media-breakpoint-up(md) {
    border-right: 1px solid #d7d7d7;
  }
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid #d7d7d7;
  }
}